# MODULE FIVE (SETS)

_This is my exercises on sets module_

# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

1. Find the length of the set it_companies

In [12]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("The length of the IT company is", len(it_companies))

The length of the IT company is 7

2. Add 'Twitter' to it_companies

In [13]:
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'Google', 'Apple', 'Oracle'}

3. Insert multiple IT companies at once to the set it_companies

In [14]:
it_companies.update(['Meta', 'Whatsapp', 'Instagram', '2go'])
print(it_companies)

{'Amazon', '2go', 'Twitter', 'Instagram', 'Oracle', 'IBM', 'Facebook', 'Microsoft', 'Meta', 'Apple', 'Whatsapp', 'Google'}

4. Remove one of the companies from the set it_companies

In [15]:
it_companies.remove('Meta')
print(it_companies)

{'Amazon', '2go', 'Twitter', 'Instagram', 'Oracle', 'IBM', 'Facebook', 'Microsoft', 'Apple', 'Whatsapp', 'Google'}

In [17]:
it_companies.discard('2go')
print(it_companies)

{'Amazon', 'Twitter', 'Instagram', 'Oracle', 'IBM', 'Facebook', 'Microsoft', 'Apple', 'Whatsapp', 'Google'}

What is the difference between remove and discard

In [19]:
it_companies.remove('club house')

KeyError: 'club house'

In [20]:
it_companies.discard('club house')

### Therefore, the difference between them is that: remove(), returns error when them the item is not accessible while discard does not.

## LEVEL 2

1. Join A and B

In [22]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_union_B = A.union(B)
print(A_union_B)

{19, 20, 22, 24, 25, 26, 27, 28}

2. Find A intersection B

In [23]:
A_intersection_B = A.intersection(B)
print(A_intersection_B)

{19, 20, 22, 24, 25, 26}

3. Is A subset of B

In [24]:
print(A.issubset(B))

True

4. Are A and B disjoint sets

In [29]:
print(A.isdisjoint(B))

False

5. Join A with B and B with A

In [27]:
#JOINING A & B
A.update(B)
print(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [28]:
#JOINING B & A
B.update(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

6. What is the symmetric difference between A and B

In [32]:
print(A.symmetric_difference(B))

set()

7. Delete the sets completely

In [33]:
del A
del B

## LEVEL 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [35]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
ages = set(age)
#comparisim
if len(age) > len(ages):
    print('length of age (list) is greater')
elif len(age) < len(ages):
    print('length of ages (sets) is greater')
else:
    print('they have the same length')

length of age (list) is greater

2. Explain the difference between the following data types: string, list, tuple and set

1. **string is the sequence of characters, like A - Z** and 
_sometimes combination of letters and a number(alphanumeric)_

2. **tuple is a sequence of values that cannot be change**
   like tpl = ('musa', 'amina', 'sadiya')
3. **set is a collection of unique values** and
   _it has no order_

3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [38]:
sentence = "  I am a teacher and I love to inspire and teach people"
words = sentence.lower().split()
unique_words = set(words)
print('The unique words in this sentence are', unique_words)

The unique words in this sentence are {'inspire', 'love', 'teach', 'and', 'a', 'teacher', 'to', 'am', 'people', 'i'}

## THE END