# MODULE FIVE (LIST)

_This is my exercises on list module_

## Level 1

1. Declare an empty list

In [2]:
empty_list = []

2. Declare a list with more than 5 items

In [1]:
food_items = ['rice', 'indomi', 'palm oil', 'vegetables', 'maggi', 'onion']

3. Find the length of your list

In [4]:
length_of_food_items = len(food_items)
print(length_of_food_items)

6

4. Get the first item, the middle item and the last item of the list

In [8]:
print(food_items[0])
print(food_items[2:4])
print(food_items[-1])

rice
['palm oil', 'vegetables']
onion

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [10]:
mixed_data_types = [{'name': 'abubakar', 'age': 27, 'height': 170, 'marital status': 'single', 'address': 'no 15 gangare birnin kudu'}]

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon

In [11]:
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

7. Print the list using print()

In [12]:
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

8. Print the number of companies in the list

In [13]:
number_of_companies = len(companies)
print(number_of_companies)

7

9. Print the first, middle and last company

In [15]:
print(companies[0])
print(companies[3])
print(companies[-1])

facebook
apple
amazon

10. Print the list after modifying one of the companies

In [22]:
companies
companies.insert(0, 'pepe')
print(companies)

['pepe', 'facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

11. Add an IT company to it companies

In [26]:
companies
companies.append('it company')
print(companies)

['pepe', 'facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'it company', 'it company']

12. Insert an IT company in the middle of the companies list

In [6]:
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
companies.insert(3, 'it company')
print(companies)

['facebook', 'google', 'microsoft', 'it company', 'apple', 'ibm', 'oracle', 'amazon']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [13]:
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
last_index = len(companies) - 1
companies[last_index] = "jumia"
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'jumia']

14. Join the it_companies with a string '#; '

In [14]:
it_companies_and_string = companies + list('#')
print(it_companies_and_string)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'jumia', '#']

15. Check if a certain company exists in the it_companies list.

In [15]:
does_nokia_exist = 'nokia' in companies
print(does_nokia_exist)

False

16. Sort the list using sort() method

In [16]:
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
companies.sort()
print(companies)

['amazon', 'apple', 'facebook', 'google', 'ibm', 'microsoft', 'oracle']

17. Reverse the list in descending order using reverse() method

In [17]:
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
companies.sort(reverse=True)
print(companies)

['oracle', 'microsoft', 'ibm', 'google', 'facebook', 'apple', 'amazon']

18. Slice out the first 3 companies from the list

In [21]:
first_three_companies = companies[0:3]
print(first_three_companies)

['oracle', 'microsoft', 'ibm']

19. Slice out the last 3 companies from the list

In [22]:
last_three_companies = companies[-3:]
print(last_three_companies)

['facebook', 'apple', 'amazon']

20. Slice out the middle IT company or companies from the list

In [27]:
middle_company = companies[3:4]
print("middle company is", middle_company)
print(f"original company list is {companies}")

middle company is ['google']
original company list is ['oracle', 'microsoft', 'ibm', 'google', 'facebook', 'apple', 'amazon']

21. Remove the first IT company from the list

In [31]:
print(f'original company list is {companies}')
companies.remove('facebook')
print(f"modified company list is {companies}")

original company list is ['oracle', 'microsoft', 'ibm', 'facebook', 'apple', 'amazon']
modified company list is ['oracle', 'microsoft', 'ibm', 'apple', 'amazon']

22. Remove the middle IT company or companies from the list

In [34]:
print(companies)

companies.remove("apple")
print(companies)

['oracle', 'microsoft', 'apple', 'amazon']
['oracle', 'microsoft', 'amazon']

23. Remove the last IT company from the list

In [35]:
print(companies)
companies.remove("amazon")
print("modified company list", companies)

['oracle', 'microsoft', 'amazon']
modified company list ['oracle', 'microsoft']

24. Destroy the IT companies list

In [36]:
del companies

25. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [37]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_and_back_end = front_end + back_end
print(front_and_back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

26. After joining the lists in question 25. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [38]:
full_stack = front_and_back_end.copy()
full_stack.insert(5, 'python')
full_stack.insert(6, 'sql')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'python', 'sql', 'Node', 'Express', 'MongoDB']

## LEVEL 2

1. The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
i. Sort the list and find the min and max age
ii. Add the min age and the max age again to the list
iii. Find the median age (one middle item or two middle items divided by two)
iv. Find the average age (sum of all items divided by their number )
v. Find the range of the ages (max minus min)
vi. Compare the value of (min - average) and (max - average), use abs() method

In [43]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [46]:
#min and max age
min_age = min(ages)
print('the minimum age is', min_age)
max_age = max(ages)
print('the maximun age is', max_age)

the minimum age is 19
the maximun age is 26

In [48]:
ages.append(min_age)
print(ages)
ages.append(max_age)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19, 26]

In [51]:
ages.sort()
median_age = ages[6]
print('The median age is', median_age)

The median age is 24

In [50]:
#average
sum_of_ages = sum(ages)
number_of_inputs = len(ages)
average_age = sum_of_ages / number_of_inputs
print('The average age is', average_age)

The average age is 22.46153846153846

In [52]:
#Range of ages
range_of_ages = max_age - min_age
print('The range is', range_of_ages)

The range is 7

vi. Compare the value of (min - average) and (max - average), use abs() method

In [56]:
#Comparision
min_minus_average = min_age - average_age
max_minus_average = max_age - average_age
if min_minus_average > max_minus_average:
 print('Minimum minus average is greater')
elif min_minus_average < max_minus_average:
 print('Maximum minus average is greater')
else:
 print('they are equal')

Maximum minus average is greater

#THE END