# Module Two Exercises

_this exercises are about variables_

**exercises are in two levels;
level 1 and level 2**

In [ ]:
## Level 1

Q1. Declare a first name variable and assign a value to it

In [1]:
first_name = "abubakar"

Q2. Declare a last name variable and assign a value to it

In [2]:
last_name = "muhammad danhaya"

Q3. Declare a full name variable and assign a value to it

In [3]:
full_name = "abubakar muhammad danhaya"

Q4. Declare a country variable and assign a value to it

In [14]:
country = "nigeria"

Q5. Declare a city variable and assign a value to it

In [4]:
city = "kano"

Q6.Declare an age le and assign a value to itvariab

In [5]:
age = 27

Q7.Declare a year variable and assign a value to it

In [6]:
year = 1997

Q8.Declare a variable is_married and assign a value to it

In [7]:
is_married = True

Q9.Declare a variable is_true and assign a value to it

In [8]:
is_true = True

Q10. Declare a variable is_light_on and assign a value to it

In [9]:
is_light = True

    Q11. Declare multiple variable on one line

In [10]:
name, age, weight = "abubakar", 27, "25kg"

In [11]:
age

27

***

## level 2

Q1. Check the data type of all your variables using type() built-in function

In [15]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

Q2. Using the _len()_ built-in function, find the length of your first name

In [16]:
len(first_name)

8

Q3. Compare the length of your first name and your last name

Q4. Declare 5 as num_one and 4 as num_two

In [17]:
num_one = 5
num_two = 4

Q5. Add num_one and num_two and assign the value to a variable total

In [18]:
total = num_one + num_two
print(total)

9

Q6. Subtract num_two from num_one and assign the value to a variable diff

In [19]:
diff = num_two - num_one
print(diff)

-1

Q7. Multiply num_two and num_one and assign the value to a variable product

In [20]:
product = num_one * num_two
print(product)

20

Q8. Divide num_one by num_two and assign the value to a variable division

In [21]:
division = (num_one / num_two)
print(division)

1.25

Q9. use modulus division to find num_two divided by num_one and assign the value to a variable remainder

In [22]:
remainder = (num_two % num_one)
print(remainder)

4

Q10.Calculate num_one to the power of num_two and assign the value to a variable exp

In [23]:
exp = (num_one ** num_two)
print(exp)

625

Q11. Find floor division of num_one by num_two and assign the value to a variable floor_division

In [24]:
floor_division = (num_one // num_two)
print(floor_division)

1

Q12.  The radius of a circle is 30 meters.
    1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
    2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
    3. Take radius as user input and calculate the area.

In [25]:
#Let radius = r
r = 30
#area= PI*r**2
area = 3.142 * r **2
print(area)
#_circum_of_circle = 2*PI*r
_circum_of_circle = 2*3.142 *r
print(_circum_of_circle)

2827.7999999999997
188.51999999999998

Q13. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [26]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## THE END